 nav {
      background-color: #ffc107;
    }
    .nav-title {
      margin: 0;
      padding: 0.5rem 1rem;
    }
    .nav-actions {
      padding: 0.5rem 1rem;
    }
    .dropdown-toggle {
      background-color: transparent;
      border-color: #000;
      color: #000;
    }
    .btn-outline-danger {
      background-color: transparent;
      /* border-color: #000; */
      color: #000;
    }
    .btn-outline-danger .fas {
      color: #000;
    }
    #wishlistCount {
      color: #000;
    
    }
    .Count{
      background-color: #131722;
      padding: 3px 4px;
      border-radius: 5px;
      color: aliceblue;
    }
    .dropdown-menu {
      background-color: #333;
    }
    .dropdown-item {
      color: #fff;
    }
    .dropdown-item:hover {
      background-color: #555;
      color: #fff;
    }
