/* .card-img-container {
  height: 320px;
  background: linear-gradient(135deg, #42a5f5, #66bb6a);
}

.poster-placeholder {
  background: url('https://th.bing.com/th/id/OIF.IlRglslk4L7nj7RNG5SLbg?rs=1&pid=ImgDetMain');
} */
